@import 'mixins_and_variables_and_functions';

@mixin inset-border-1-red-500($important: false) {
  box-shadow: inset 0 0 0 $gl-border-size-1 $red-500 if-important($important);
}

.timezone-dropdown {
  .dropdown-menu {
    @include gl-w-full;
  }

  .gl-new-dropdown-item-text-primary {
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
  }
}

.modal-footer {
  @include gl-bg-gray-10;
}

.invalid-dropdown {
  .gl-dropdown-toggle {
    @include inset-border-1-red-500;

    &:hover {
      @include inset-border-1-red-500(true);
    }
  }
}
